<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link rel="stylesheet" href="resources/styles/crud.css">
</head>

<body>
    <div class="cotenedor-productpage">

        <section class="contenido" id="contenido">
            <% Object.entries(productosPorCategoria).forEach(([categoria, productos])=> { %>
                <div class="category-section">
                    <h2>
                        <%= categoria %>
                    </h2>
                    <a class="agg-buttons" id="btn-add" onclick="mostrarFormulario('agregar')">
                        <img src="resources/img/crud/add.png"" alt=" Icono">
                        <span> AGREGAR NUEVO PRODUCTO </span>
                    </a>
                </div>

                <div class="mostrador" id="mostrador">
                    <% productos.forEach(producto=> { %>
                        <div class="item" onclick="cargar(this, '<%= producto.id %>')">
                            <div class="contenedor-foto">
                                <img src="data:image/jpeg;base64,<%= Buffer.from(producto.imagen).toString('base64') %>"
                                    alt="<%= producto.nombre %>">
                            </div>
                            <div class="contenedor-texto">
                                <p class="nombre">
                                    <%= producto.nombre %>
                                </p>
                                <span class="precio">
                                    <%= producto.precio %>
                                </span>
                            </div>
                            <div class="contenedor-edit-delete">
                                <a class="btn-edit" onclick="editarProducto('<%= producto.id %>')">
                                    <img src="resources/img/crud/edit.png" alt="Icono">
                                </a>
                                
                                <a class="btn-delete" id="btn-delete" onclick="eliminarProducto('<%= producto.id %>')">
                                    <img class="btn-delete" src="resources/img/crud/delete.png" alt="Icono">
                                </a>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <% }); %>
        </section>


    <div class="btn-agg-seccion">
        <a class="agg-buttons">
            <img src="/img/crud/add.png" alt="Icono">
            <span> AGREGAR NUEVA SECCION </span>
        </a>
    </div>

    <script src="resources/js/crud.js"></script>
</body>

</html>